@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  text-decoration: underline;
}

.post-title {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.07);
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  @apply pb-3;
}

.prose pre {
  @apply py-6;
  color: black;
}

.prose a > code {
  @apply text-orange;
}

.highlight-line:not(.highlight-line-active),
.highlight-line:not(.highlight-line-active) * {
  @apply text-gray-500;
}

.highlight-line-active {
  background-color: transparent;
}

.octicon {
  fill: currentColor;
  vertical-align: text-bottom;
}

.heading-wrapper {
  padding: 0 1em;
  margin: 0 -1em;
  position: relative;

  & .anchor {
    display: none;
    position: absolute;
    top: 0.2em;
    left: 0;

    [hidden] {
      display: block;
    }
  }

  &:hover .anchor {
    display: block;
  }
}
