{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0
  },
  "plugins": [
    "jest",
    "prettier"
  ],
  "extends": [
    "standard",
    "standard-react",
    "prettier"
  ],
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
