@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-post hr {
  @apply my-6 bg-gray-300;
}

/* Image caption */
.blog-post img + small {
  position: relative;
  bottom: 1em;
  @apply text-gray-500;
}

.blog-post img + small a {
  @apply text-gray-700;
}

.blog-post h3 {
  @apply mt-6 !important;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
  animation-direction: alternate-reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.repo--loaded {
  animation: fade-in 200ms;
}

.octicon {
  fill: currentColor;
  vertical-align: text-bottom;
}
