@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
  animation-direction: alternate-reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.repo--loaded {
  animation: fade-in 200ms;
}

.octicon {
  fill: currentColor;
  vertical-align: text-bottom;
}
