@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  text-decoration: underline;
}

.post-title {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.07);
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  @apply pb-3;
}

.prose pre {
  @apply py-6;
  color: black;
}

.prose a > code {
  @apply text-orange;
}

.highlight-line:not(.highlight-line-active),
.highlight-line:not(.highlight-line-active) * {
  @apply text-gray-500;
}

.highlight-line-active {
  background-color: transparent;
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.repo--loaded {
  animation: fade-in 200ms;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
  animation-direction: alternate-reverse;
}

.octicon {
  fill: currentColor;
  vertical-align: text-bottom;
}
