<div
  itemScope
  itemProp="author"
  itemType="http://schema.org/Person"
  class="block md:flex"
>
  <img src="https://github.com/JasonEtco.png" alt="Jason Etcovitch" class="mr-6 w-16 h-16 rounded-full" />
  <p class="m-0">
    👋 Personal blog by
    <a href="https://twitter.com/JasonEtco" itemProp="name">
      Jason Etcovitch
    </a>
    <br />
    🐙 <span itemProp="jobTitle">Engineer</span> at
    <a href="https://github.com/JasonEtco">GitHub</a>
    <br />
    🐦 Follow me on
    <a href="https://twitter.com/JasonEtco" itemProp="url">
      Twitter
    </a>
  </p>
</div>
