{% set eleventyVersion = pkg.devDependencies['@11ty/eleventy'] | replace("^", "") %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="generator" content="Eleventy v{{ eleventyVersion }}" />
          
  {% if title %}
    <title>{{ title }} | {{ constants.siteTitle }}</title>
    <meta property="og:title" content="{{ title }} | {{ constants.siteTitle }}" />
  {% else %}
    <title>{{ constants.siteTitle }}</title>
    <meta property="og:title" content="{{ constants.siteTitle }}" />
  {% endif %}

  {% if spoiler %}
    <meta property="description" content="{{ spoiler }}" />
    <meta property="og:description" content="{{ spoiler }}" />
    <meta property="og:url" content="{{ constants.siteUrl }}{{ page.url }}" />
    <meta property="twitter:description" content="{{ spoiler }}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property='twitter:title' content="some title"/>
    <meta property="twitter:image" content="{{ constants.siteUrl }}/assets/og/{{ page.fileSlug }}.png" />
    <meta property="og:image" content="{{ constants.siteUrl }}/assets/og/{{ page.fileSlug }}.png" />
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>
    <meta property="og:image:alt" content="{{ spoiler }}"/>
  {% else %}
    <meta property="description" content="{{ constants.siteDescription }}" />
    <meta property="og:description" content="{{ constants.siteDescription }}" />
    <meta property="og:url" content="{{ constants.siteUrl }}/" />
    <meta property="twitter:description" content="{{ constants.siteDescription }}" />
    <meta property="twitter:title" content="{{ constants.siteTitle }}" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:image" content="{{ constants.siteUrl }}/assets/card.png" />
    <meta property="og:image" content="{{ constants.siteUrl }}/assets/card.png" />
    <meta property="og:image:width" content="256"/>
    <meta property="og:image:height" content="256"/>
  {% endif %}

  <meta property`="twitter:site" content="@JasonEtco" />
  <meta property`="twitter:creator" content="@JasonEtco" />

  <link rel="icon" type="image/png" href="/assets/favicon.ico" sizes="16x16" />
  
  <link rel="stylesheet" href="/css/index.css" type="text/css" />
</head>