<template class="js-repo-template">
  <li class="w-full md:w-1/2 p-1">
    <div class="h-full p-6 border border-solid border-gray-200 rounded">
      <div class="flex flex-col h-full">
        <a href="{% raw %}{{ url }}{% endraw %}" class="text-blue-600">
          <h4 class="mt-0 mb-3" title="{% raw %}{{ name }}{% endraw %}">
            {% raw %}{{ name }}{% endraw %}
          </h4>
        </a>

        <p class="text-sm mt-2 mb-3 text-gray-600">{% raw %}{{ description }}{% endraw %}</p>

        <p class="flex items-center mt-auto mb-0 text-xs text-gray-600">
          <span
            class="rounded-full inline-block relative h-2 w-2 mr-1"
            style="background-color: {% raw %}{{ codeColor }}{% endraw %}"
          ></span>
          {% raw %}{{ codeLanguage }}{% endraw %}

          <a href="{% raw %}{{ url }}{% endraw %}/stargazers" class="flex ml-3 text-gray-600">
            <span class="mr-1">{% octicon "star" %}</span>
            {% raw %}{{ stargazerCount }}{% endraw %}
          </a>

          <a href="{% raw %}{{ url }}{% endraw %}/network" class="flex ml-3 text-gray-600">
            <span class="mr-1">{% octicon "repo-forked" %}</span>
            {% raw %}{{ forkCount }}{% endraw %}
          </a>
        </p>
      </div>
    </div>
  </li>
</template>

