@media only screen and (max-width: 580px) {
  .home__hero {
    display: block !important;
  }
  .home__hero p {
    margin-top: 1.5rem;
    margin-left: 0 !important;
  }
  .repo-list {
    display: block !important;
  }
  .repo-wrapper {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .bio {
    display: block !important;
  }
}

@keyframes pulse {
  0% { opacity: 1 }
  100% { opacity: 0.5 }
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
  animation-direction: alternate-reverse;
}

@keyframes fade-in {
  0% { opacity: 0.5 }
  100% { opacity: 1 }
}

.repo--loaded {
  animation: fade-in 200ms;
}
