---
layout: "layouts/_default.njk"
permalink: 404.html
---

<main class="flex items-center justify-center">
  <h1>Oh no, a 404!</h1>
  <p>Whatever will you do! You can go back <a href="/">home</a>?</p>
</main>
