---
title: Missing post title!
layout: "layouts/_default.njk"
---

<main itemScope itemType="http://schema.org/BlogPosting" class="mx-auto px-3 md:px-8 py-3 max-w-3xl">
  <header>
    <div class="mb-8">
      <a class="text-orange" href="/">← Back</a>
    </div>

    <h1 itemProp="name" class="mb-0 pb-3 post-title">
      {{ title }}
    </h1>
    <p class="text-sm mt-3 mb-6">
      <time itemProp="datePublished">{{ page.date | date }}</time>
      <span> • </span>
      <time itemProp="timeRequired">
        {{ content | timeToRead }}
      </time>
    </p>
    <meta itemProp="url" content="{{ constants.siteUrl }}/{{ page.url }}" />
  </header>

  <div>
    {% if toc %}
      <aside class="prose prose-a:text-orange prose-a:no-underline p-6 my-6 border-solid border border-gray-300 rounded-lg">
        <p class="text-sm text-gray-700 mb-3">Table of Contents</p>
        {{ content | toc | safe }}
      </aside>
    {% endif %}

    <div
      class="prose
        prose-a:text-orange
        prose-a:no-underline
        prose-pre:bg-gray-100
        lg:prose-xlt"
      itemProp="articleBody text"
    >
      {{ content | safe }}
    </div>
  </div>

  <footer class="pt-12 mt-12 border-t">
    {% if reviewers and reviewers.length > 0 %}
      <h3 class="text-lg font-semibold">Thanks for reviewing this post ❤️</h3>
      <div class="mb-6 flex">
        <div class="w-1/2">
          <p class="text-xs text-gray-500">These folks were kind enough to review this post, provide feedback and find (probably many) typos.</p>
        </div>
        <ul class="flex w-1/2">
          {% for reviewer in reviewers %}
            <li class="mb-3 mr-2">
              <a href="{{ reviewer.link }}" class="block tooltipped tooltipped-n" aria-label="{{ reviewer.name }}">
                <img
                  src="{{ reviewer.avatarUrl }}"
                  alt="{{ reviewer.name }}"
                  class="rounded-full border w-8 h-8"
                  height="8"
                  width="8"
                />
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <p class="text-gray-600">
      <a
        class="text-orange"
        href="https://mobile.twitter.com/search?q={{ [constants.siteUrl, page.url] | join | urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Discuss on Twitter
      </a>
      <span> • </span>
      <a
        class="text-orange"
        href="https://github.com/jasonetco/jasonet.co/blob/main/{{ page.inputPath }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Edit on GitHub
      </a>
      <span> • </span>
      <a class="text-orange" href="/rss.xml">
        RSS Feed
      </a>
    </p>

    <div class="px-6 py-8 mt-6 shadow-xl border border-gray-100 rounded-lg">
      <h3 class="font-semibold mt-0 mb-6 text-lg">
        <a class="text-orange" href="/">
          Hope you enjoyed the read! 📝
        </a>
      </h3>
      {% include "partials/bio.njk" %}
    </div>

    <ul class="list-none flex flex-wrap justify-between p-0 ml-0 mt-12 mb-6">
      {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.posts | getNextCollectionItem(page) %}
      <li>
        {% if previousPost %}
          <a
            href="{{ previousPost.url }}"
            rel="prev"
            itemScope
            itemType="https://schema.org/BlogPosting"
            class="text-orange"
          >
            ← <span itemProp="name">{{ previousPost.data.title }}</span>
          </a>
        {% endif %}
      </li>
      <li>
        {% if nextPost %}
          <a
            href="{{ nextPost.url }}"
            rel="next"
            itemScope
            itemType="https://schema.org/BlogPosting"
            class="text-orange"
          >
            <span itemProp="name">{{ nextPost.data.title }}</span> →
          </a>
        {% endif %}
      </li>
    </ul>
  </footer>
</main>
